.product_footer{
  height: 55px;
  width: 100%;
  position: absolute;
  bottom:0;
  background-color: #eee;
  box-shadow: 1px -1px 1px 0px #d9d9d9;
  padding:10px;
}
.bdStyle{
  border-top: 1px solid #ccc;
  padding:10px;
}
.product_title{
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.proPrice .price{
  color: red;
}
.proPrice .oldPrice{
  text-decoration: line-through;
  font-size: 12px;
}
.size span{
  border: 1px solid #ccc;
  background-color: #eee;
 padding:4px;
  line-height: 32px;
  font-size: 12px;
  /* display: inline-block; */
}
.size span.current{
  background-color: #069;
  color: #fff;
}